* {
  font-family: sans-serif, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

header {
  background-color: #4aaedb;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0 2);
  margin-bottom: 2rem;
}

main {
  background: #8c0738;
  width: 100%;
  max-width: 30rem;
  margin: 5.6rem auto 0px;
  padding: 2.4rem;
  border-radius: 1rem;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.2rem;
  word-spacing: 2rem;
  color: #f89912;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 2rem 1rem;
}

h2 {
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
}

.word {
  letter-spacing: 0.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.erro {
  animation: erro 0.5s forwards;
}

@keyframes erro {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container-pokemon-pokedex {
  position: relative;
  left: 25%;
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.background {
  background-color: white;
  border: solid white 8px;
  border-radius: 4px;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  height: 9rem;
  width: 12rem;
  background-image: url(assets/images/background-pokedex.jpg);
  position: relative;
  border: solid white 8px;
  border-radius: 1rem;
  overflow: hidden;
}

#image-pokemon {
  height: 120px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.2));
}

.container-results {
  margin: auto;
  background-color: rgb(218, 213, 189);
  width: 90%;
  border: solid #6f6982 0.3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 3rem;
}

.letter input {
  display: block;
  padding: 0.5rem;
  background: #c3d3d7;
  border: solid #6f6982 0.3rem;
  border-radius: 10px;
  outline: none;
  color: black;
  font-size: 16px;
  transition: all 0.6s;
}

.letter input:focus {
  border: solid #aca3cb 0.3rem;
  background: #ffffff;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  filter: drop-shadow(2px);
}

button:hover {
  transform: scale(1.1);
}

.results {
  margin: 20px;
}

ul {
  list-style: none;
  display: inline-block;
}

li {
  margin-bottom: 7px;
  list-style: none;
}

li:hover {
  list-style-image: url("assets/svg/triangle-right.svg");
}

.container-lettersTyped,
#lettersTyped,
.container-wordsTyped,
#wordsTyped,
.container-chances,
#chance {
  color: #2b2932;
}
